<div class="row row-cols-1 row-cols-md-4 g-4">
  <div class="col" *ngFor="let release of releases">
    <div class="card">
      <img (click)="viewAlbum(release.id)" [src]="release.images[0].url" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">{{ release.name }}</h5>
        <div class="card-text" *ngFor="let item of release.artists">
          <span class="badge bg-primary">{{ item.name }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
