.card img{
    cursor: pointer;
}

.search-input{
    background-color: #000d09;
    color: #eee !important;
    border: none;
    border-bottom: 1px solid;
    outline: none !important;
}

.isLoadingSpinner{
    text-align: center;
    margin-top: 20px;
}